@media (max-width: 576px) {
  .socials p {
    font-size: 30px;
  }

  img {
    min-width: 80%;
    min-height: 80%;
    border-radius: 20%;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }

  .card p {
    font-size: 24px;
  }

  .card {
    margin: 0 auto;
    min-width: 90%;
    border-radius: 2%;
    box-shadow: 0px 1px 10px grey;
    background-color: white;
    text-align: center;
  }

  .banner {
    background-color: #234038;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    min-width: 90%;
    margin: 30px auto;
    border-radius: 10px;
  }

  .banner h2 {
    font-family: 'Roboto Mono';
    font-weight: 500;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 44px;
    }
}

@media (max-width: 720px) {
  .socials p {
    font-size: 30px;
  }

  img {
    min-width: 70%;
    min-height: 70%;
    border-radius: 20%;
  }

  .card p {
    font-size: 24px;
  }

  .card {
    margin: 0 auto;
    min-width: 90%;
    border-radius: 2%;
    box-shadow: 0px 1px 10px grey;
    background-color: white;
    text-align: center;
  }

  .banner {
    background-color: #234038;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    min-width: 90%;
    margin: 30px auto;
    border-radius: 10px;
  }
}


body {
  background-color: aliceblue;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  margin: auto;
  text-align: center;
  padding: 10px;
}

img {
  width: 45%;
  height: 45%;
  border-radius: 20%;
}

body h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #1f332d;
  padding: 20px 0 0 0;
}


a {
  text-decoration: none;
}

a:hover {
  color: blue;
  font-size: 1.25rem;
}

p {
  font-family: 'Roboto';
  font-size: 20px;
}


.fa-face-sunglasses {
  background-color: yellow;
}

.card {
  margin: 35px auto;
  width: 70%;
  padding: 30px;
  border-radius: 2%;
  box-shadow: 0px 1px 10px grey;
  background-color: white;
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.socials {
  margin: 40px;
}

.banner {
  background-color: #234038;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  width: 50%;
  margin: 30px auto;
  border-radius: 10px;
}

.banner h2 {
  font-family: 'Roboto Mono';
  font-weight: 500;
  color: white;
  padding: 10px;
  letter-spacing: 7px;
  }

  .banner:hover {
    background-color: rgb(11, 2, 2);
    transition-duration: 0.8s;
  }

  .banner h2:hover {
    letter-spacing: 20px;
    transition-duration: 0.8s;
  }

  li {
    display: inline-block;
    padding: 5px 20px;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li:hover {
    transform: scale(2);
    transition-duration: 0.5s;
    padding-top: 10px;
    color: darkcyan;
  }
